body {
    font-family: 'Josefin Slab';
    font-size: 25px;
    color: white;
    background-color: black;
}

.class1 {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
}

p {
    font-weight: normal;
}

a:hover {
    background-color: red;
    color: black;
}
